
    body {
        background-color: #999;
        }

    #wrapper {
        margin: 5% auto;
        padding: 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1f2840;
        color: #fff;
        width: 50%;
        border: 1px solid #000;
        box-shadow: 10px 10px 50px rgba(0,0,0,0.35),
        -10px -10px 50px rgba(0,0,0,0.35);
    }
    

    .input-div { 
        width: 80px;
        background: none;
        height: 30px
        border: .5px solid #bbb;
        border-radius: 0;
        color: #fff;
        margin-left: 10px;
    }
    
    .input-select { 
        width: 120px;
        background: none;
        border: .5px solid #bbb;
        border-radius: 0;
        height: 30px;
        background-color: #1f2840;
        color: #fff;
    }

    #cal-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        width: 100%;
        max-width: 500px;
        height: 100px;
        text-align: center;
    }

    #cal-header div {
        flex-basis: auto;
        width: 14%;
        height: 50px;
        display: inline-block;
    }
    #daydiv {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: cyan;
        height: 250px;
    }

    #daydiv div {
        flex-basis: auto;
        width: 14%;
        height: 16%;
        display: inline-block;
    }

    .out-of-range {
        background-color: rgba(0,0,0,0.1);
        color: cyan;
    }

    #table {
        display: block;
    }
    
    #table td {
        display: inline-block;
        width: 20px;
    }

    .is-selected {
        border: .5px solid cyan;
    }

    .button.button-clear {
        width: 20px;
        font-size: 2rem;
        color: cyan;
    }

    #task-header {
        margin-top: 180px;
    }

    #tasks-div {
        max-width: 500px;
        color: #fff;
        text-align: left;
        font-size: 1em;
        text-transform: uppercase;
    }

    #appointments {
        display: block;
    }

    #add-btn {
        width: 100px;
        margin-left: -5rem;
    }

